#------------------------------------
	# Project
#------------------------------------

# Ignore cache
system/user/cache/*
system/user/TwigFunctions/PhoneHome/Data/*





#------------------------------------
	# System
#------------------------------------

# Caches
public/cache/*





#------------------------------------
	# Tools
#------------------------------------

node_modules
.bundle
.idea/
.komodotools
.project
.settings/
.tern-project
.tmproj
*.esproj
*.komodoproject
*.sublime-*
browserstack.js
codekit-config.json
mixture.json
prepros.json
Homestead.yaml
vendor/*





#------------------------------------
	# Environment
#------------------------------------

.cache
.DS_Store
.tmp
*.diff
*.err
*.lock
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
error_log
Thumbs.db
*.vagrant





#------------------------------------
	# Gitkeep
#------------------------------------

!.gitkeep
