{% extends "_layouts/master.twig" %}

{# Set the page title #}
{%- block pageTitle -%}{{ yaml.Title }}{%- endblock -%}

{# Set the content class #}
{% set contentClass = "contact-page" %}

{# Setup the form #}
{% set formStatus = mandrillMailer({
	identifier: "contact",
	required: [
		"fromName",
		"from",
		"message"
	],
	to: "tj@buzzingpixel.com",
	subject: "BuzzingPixel Contact Form",
	json: true
}) %}

{# Set content #}
{%- block content -%}
	<div class="container site-inner-content contact">
		<div class="contact__row">
			<div class="contact__column">
				{{ yaml.LeftText|markdown|raw }}
			</div>
			<div class="contact__column">
				<form action="" method="post" class="contact__form js-contact-form" novalidate>
					<input
						type="text"
						name="contact[fromName]"
						placeholder="Your Name"
						class="input"
						required
					>
					<input
						type="email"
						name="contact[from]"
						placeholder="Your Email Address"
						class="input js-email"
						required
					>
					<textarea
						name="contact[message]"
						placeholder="Please describe your problem"
						class="textarea contact__textarea"
						data-ref="input requiredInput"
						required
					></textarea>
					<input
						type="submit"
						value="Submit"
						class="input button button--colored js-submit"
						data-val="Submit"
						data-working="Processing..."
					>
				</form>
			</div>
		</div>
		<div class="contact__note js-hide js-contact-note">
			<div class="content-blocks__note-title">
				Thank you!
			</div>
			<p>Your email has been sent by the robots behind the scene running the website and I will respond to you as soon as I can!</p>
		</div>
		{{ body|raw }}
	</div>

{%- endblock -%}
