{% extends "_layouts/master.twig" %}

{# Set the page title #}
{%- block pageTitle -%}{{ yaml.Title }}{%- endblock -%}

{# Set content #}
{%- block content -%}
	<div class="page">
		{{ body|raw }}
	</div>
{%- endblock -%}
